{% load static %}
<div class="footer py-5">
    <div class="container">
        
        <div class="row">
            {% comment %} <div class="col-6">
                <img src="{% static 'image/kreoncoloredwhiteoffset.png' %}" alt="" height=60>
                <img src="{% static 'image/kreonwhite.png' %}" alt="" height=50>
            </div> {% endcomment %}
            <div class="col-3">
                <h3 class="f-head">Our Projects</h3>
                <ul>
                    <li>Book Drive</li>
                    <li>Art Drive</li>
                    <li>Kulay Kalikasan</li>
                    <li>Kreon Library</li>
                </ul>
            </div>
            <div class="col-3">

                <h3 class="f-head">Mission & Vision</h3>
                <ul>
                    <li>Vision</li>
                    <li>Mission</li>
                    <li>About Us</li>
                  
                </ul>
            </div>
           
            <div class="col-3">
                <h3 class="f-head">Contact Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Gmail</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
          
      
        </div>


        <div class="row py-3">
            <div class="col-12 ">
                <img src="{% static 'image/kreoncoloredwhiteoffset.webp' %}" class="mx-auto d-block" alt="" height=60>
                {% comment %} <img src="{% static 'image/kreonwhite.png' %}" class="mx-auto d-block " alt="" height=60> {% endcomment %}
            </div>

        </div>
    </div>
</div>
<div class="footer-below py-2 ">
    <div class="container">
        <div class="row my-auto">
            <div class="col-12 ">
                <h6>© 2024 KREON Community</h6>
            </div>
        </div>
    </div>
</div>